<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>🎬 Cinema App</ion-list-header>
          <ion-note name="Greeting"
            >Hello, {{ this.displayName | titlecase }}</ion-note
          >
        </ion-list>

        <ion-list id="labels-list">
          <ion-item
            name="Logout"
            lines="none"
            detail="false"
            (click)="this.logout()"
          >
            <ion-icon aria-hidden="true" slot="start" name="log-out"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
